<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>product no.1</string>
		<key>description</key>
		<string>description of product no.1</string>
		<key>cost</key>
		<string>100</string>
	</dict>
    <dict>
        <key>name</key>
        <string>product no.2</string>
        <key>description</key>
        <string>description of product no.2</string>
        <key>cost</key>
        <string>200</string>
    </dict>
    <dict>
        <key>name</key>
        <string>product no.3</string>
        <key>description</key>
        <string>description of product no.3</string>
        <key>cost</key>
        <string>300</string>
    </dict>
    <dict>
        <key>name</key>
        <string>product no.4</string>
        <key>description</key>
        <string>description of product no.4</string>
        <key>cost</key>
        <string>400</string>
    </dict>
    <dict>
        <key>name</key>
        <string>product no.5</string>
        <key>description</key>
        <string>description of product no.5</string>
        <key>cost</key>
        <string>500</string>
    </dict>
</array>
</plist>
